.color1 {
	color: #fff
}

.color2 {
	color: #0e3696
}

.color3 {
	color: #141430
}

.color4 {
	color: #00aeef
}

.color5 {
	color: #ffff00
}

.text-center {
	text-align: center;
}

body {
	font-family: 'Roboto', sans-serif;
}

/* header */
header {
	height: 100vh;
	background-image: url('../images/header.jpg');
	background-size: cover;
	background-position: center center;
	position: relative;
}

header h1, header h2 {
	font-family: 'Montserrat', sans-serif;
}

header h2 {
	color: rgb(0, 174, 239);
	font-size: 23px;
	line-height: 31px;
	margin-top: 25px;
}

header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(29, 36, 79, 0.6);
	top: 0;
	left: 0;
}

.header-content-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 10;
	align-items: center;
}

.header-content-container__item {
	text-align: center;
	width: 50%;
}

.header-product-image {
}

.header-product-image img {
	margin-left: -150px;
	max-width: 750px !important;
}

.header-product-text {
	max-width: 500px;
	text-align: left;
	margin: 0 auto;
}

.header-product-text h1 {
	color: #fff;
}

#Top_bar a.button.action_button {
	top: -3px !important;
	padding: 0 20px;
}

h6 {
	font-size: 22px;
	line-height: 25px;
	font-weight: bold;
	letter-spacing: 4px;
}

.store-first {
	position: relative;
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto';
}

.store-first::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(29, 36, 79, 0.8);
	top: 0;
	left: 0;
	overflow: visible;
  visibility: visible;
}

.product-advantages {
	font-family: 'Roboto', sans-serif;
}

.specialist-info {
	padding: 100px;
	background-color: #f3f3f3;
}

.specialist-info h2, .specialist-info .h2, .specialist-info h5, .specialist-info .h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.specialist-info-container {
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	color: #3c3c3c;
	font-size: 14px;
}

.grid-section {
	overflow: hidden;
	padding: 80px 0 200px;
}

.grid-section .image_wrapper {
	text-align: center;
}

.grid-section::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(29, 36, 79, 0.6);
	top: 0;
	left: 0;
	overflow: visible;
	visibility: visible;
	z-index: 1;
}

.grid-section__item {
	padding: 30px 25px;
	background-color: #fff;
	box-sizing: border-box;
	border-bottom: 5px solid #ffff00;
	border-radius: 2px;
}

.grid-section .image_wrapper img {
	max-height: 250px;
}